* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    color: #000000;

}

nav {
    display: inline-block;
    background: black;
    top: 100px;
    left: 100px;
    left: 900px;
    /*  height: 80px;
    width: 5000px;
    border: yellow, 50px; */
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #000090;
    transition: .5s;
}




@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100px;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

}

button {
    font: 700 1em Tahoma, Arial, Verdana, sans-serif;
    color: #fff;
    background-color: #59B0E5;
    border: 1px solid #0074a5;
    border-top: 1px solid #004370;
    border-left: 1px solid #004370;
    cursor: pointer;
    border-bottom: #000000, 5 px;
}

head {
    width: 100%;
    height: 25%;

}

/* nav{
    float: left;
} */

.portada {
    position: relative;
    width: 1280px;
    height: 250px;
    object-fit: cover;
    border: 3px solid #000000;
}

.boton1 {
    font-size: 20px;
    display: block;
    color: blue;
}

.boton2 {
    font-size: 20px;
    display: block;
    margin-top: 50px;
}

.boton3 {
    font-size: 20px;
    display: block;
    margin-top: 50px;
}

.h1 {
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 50px;

}

.h2 {
    background-color: #010101;
    border: 1px solid black;
    font-size: 20px;
    color: rgb(249, 249, 249);
    text-align: center;
}

.logo {
    position: relative;
    border: 2px solid black;

    width: 100px;
    height: 100px;
    top: 85px;
    left: 830px;
}


.extra {
    width: 500px;
    border: solid 5px #f80505;

}

.events {

    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    border: 2px double black;
    height: fit-content;
    float: left;

}

footer {

    width: 2000px;
    font-size: 10px;
    background-color: #f80505;
}

aside {
    width: 200px;
    display: flex;


}

.lista2 {
    width: 60%;
    margin: auto;
    padding: 10px;
    border: dashed;
    background-color: azure;
}

.reglas {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: grey;
    list-style-position: inside;

}

.titulos {
    text-align: center;
    padding: 10px;
    background-color: #59B0E5;

}

.texto {
    padding: 10px;
}

#titulo{
    background-color: #025b81;
    border: #010101;

}



.partidos {
    display: flex;
    flex-direction: column;
    flex-grow: wrap;

    position: absolute;
    top: 700px;

    font-size: 20px;
    text-align: center;
    color: rgb(150, 148, 148);
    line-height: 140%;
}

.informacion {
    display: flex;
    margin-bottom: 2px;
    flex-wrap: wrap;

    text-align: left;
    line-height: 140%;
    width: 300px;


}


.adicional {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 200px;
    line-height: 50%;
    margin-bottom: 10rem;
    font-size: 16px;
    padding: 10px;

    color: black;
    background-color: rgb(7, 81, 131);
    position: absolute;
    top: 1100px;
    left:10px ;
   
 
}

.mail {
    color: #000090;
}